@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url("/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.section-title span {
  text-transform: none;
  font-weight: 400;
  color: rgb(70.2631578947, 91.3421052632, 107.7368421053);
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background-color: rgba(234, 32, 39, 0.7);
  box-shadow: 2px 2px 10px 3px #EA2027;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #fff;
  border-radius: 5%;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  color: #EA2027;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list span {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.list .active {
  font-weight: bold;
  color: #12CBC4;
}
.list a:hover {
  padding: 15px;
}

.list-horizontal li {
  display: inline-block;
}

.tags a {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: blue;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}
.authors li a {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: blue;
}
.authors li a:hover {
  padding: 15px;
}

/* Post */
.post {
  display: none;
}
.post.active {
  display: block;
}

.post-author {
  font-style: italic;
}
.post-author .active {
  font-weight: bold;
  color: #12CBC4;
}

.post-tags {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.post-tags p {
  margin: 0 10px 0 0;
}
.post-tags a {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: blue;
}

/* Media */
@media (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    text-align: center;
  }
  .wrapper .sidebar, .wrapper .post {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBUSxxSEFBQTtBQUVSLGNBQUE7QUFTQSxXQUFBO0FBRUE7RUFDSSxzQkFBQTtBQ1RKOztBRFlBO0VBQ0ksK0NBQUE7RUFDQSwyQkFBQTtFQUNBLHNCQUFBO0VBQ0EsNEJBQUE7RUFDQSwwQ0FiUTtFQWNSLFdBbkJVO0VBb0JWLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0FDVEo7O0FEWUE7RUFDSSxpQkFBQTtFQUNBLGNBQUE7QUNUSjs7QURZQTtFQUNJLGVBQUE7RUFDQSx5QkFBQTtFQUNBLGlDQTdCVTtFQThCVixnQkFBQTtBQ1RKO0FEVUk7RUFDSSxvQkFBQTtFQUNBLGdCQUFBO0VBQ0Esd0RBQUE7QUNSUjs7QURZQSxXQUFBO0FBRUE7RUFDSSxhQUFBO0VBQ0EsaUJBQUE7QUNWSjs7QURhQTtFQUNJLFdBQUE7QUNWSjs7QURhQTtFQUNJLFdBQUE7QUNWSjs7QURhQTtFQUNJLHdDQUFBO0VBQ0Esb0NBQUE7RUFDQSxrQkFBQTtFQUNBLGFBQUE7RUFDQSxzQkFBQTtFQUNBLGlCQUFBO0FDVko7O0FEYUEsU0FBQTtBQUVBO0VBQ0ksa0NBbEVRO0VBbUVSLGNBQUE7RUFDQSxnQkFBQTtFQUNBLGdCQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0FDWEo7O0FEY0EsVUFBQTtBQUVBO0VBQ0kscUJBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtBQ1pKO0FEYUk7RUFDSSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxtQkFBQTtBQ1hSO0FEYUk7RUFDSSxpQkFBQTtFQUNBLGNBQUE7QUNYUjtBRGNJO0VBQ0ksYUFBQTtBQ1pSOztBRGlCSTtFQUNJLHFCQUFBO0FDZFI7O0FEbUJJO0VBQ0ksZUFBQTtFQUNBLGdCQUFBO0VBQ0EsbUJBQUE7RUFDQSxXQUFBO0FDaEJSOztBRG9CQSxZQUFBO0FBR0k7RUFDSSxtQkFBQTtBQ25CUjtBRG9CUTtFQUNJLGVBQUE7RUFDQSxnQkFBQTtFQUNBLG1CQUFBO0VBQ0EsV0FBQTtBQ2xCWjtBRG9CUTtFQUNJLGFBQUE7QUNsQlo7O0FEdUJBLFNBQUE7QUFFQTtFQUNJLGFBQUE7QUNyQko7QURzQkk7RUFDSSxjQUFBO0FDcEJSOztBRHdCQTtFQUNJLGtCQUFBO0FDckJKO0FEc0JJO0VBQ0ksaUJBQUE7RUFDQSxjQUFBO0FDcEJSOztBRHdCQTtFQUNJLGFBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxtQkFBQTtBQ3JCSjtBRHNCSTtFQUNJLGtCQUFBO0FDcEJSO0FEc0JJO0VBQ0ksZUFBQTtFQUNBLGdCQUFBO0VBQ0EsbUJBQUE7RUFDQSxXQUFBO0FDcEJSOztBRHdCQSxVQUFBO0FBRUE7RUFDSTtJQUNJLHNCQUFBO0lBQ0Esa0JBQUE7RUN0Qk47RUR1Qk07SUFDSSxnQkFBQTtJQUNBLG1CQUFBO0VDckJWO0FBQ0YiLCJmaWxlIjoic3R5bGUuY3NzIn0= */