@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar, .posts {
  background: #fff;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #444;
  border-radius: 5px;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  display: none;
}
.post.active {
  display: block;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}
.post-tags p {
  margin: 0 10px 0 0;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBUSxxSEFBQTtBQUVSLGNBQUE7QUFTQSxXQUFBO0FBRUE7RUFDSSxzQkFBQTtBQ1RKOztBRFlBO0VBQ0ksZ0JBZFU7RUFlViwwQ0FWUTtFQVdSLFdBZlM7RUFnQlQsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7QUNUSjs7QURZQTtFQUNJLGlCQUFBO0VBQ0EsY0FBQTtBQ1RKOztBRFlBO0VBQ0ksZUFBQTtFQUNBLHlCQUFBO0VBQ0EsaUNBMUJVO0VBMkJWLGdCQUFBO0FDVEo7QURVSTtFQUNJLG9CQUFBO0VBQ0EsZ0JBQUE7RUFDQSxjQUFBO0FDUlI7O0FEWUEsV0FBQTtBQUVBO0VBQ0ksYUFBQTtFQUNBLGlCQUFBO0FDVko7O0FEYUE7RUFDSSxXQUFBO0FDVko7O0FEYUE7RUFDSSxXQUFBO0FDVko7O0FEYUE7RUFDSSxnQkF2RFU7RUF3RFYsa0JBQUE7RUFDQSxhQUFBO0VBQ0Esc0JBQUE7RUFDQSxrQkFBQTtBQ1ZKOztBRGFBLFNBQUE7QUFFQTtFQUNJLGtDQTlEUTtFQStEUixnQkFBQTtFQUNBLGdCQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0FDWEo7O0FEY0EsVUFBQTtBQUVBO0VBQ0kscUJBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtBQ1pKO0FEYUk7RUFDSSxpQkFBQTtBQ1hSOztBRGdCSTtFQUNJLHFCQUFBO0FDYlI7O0FEaUJBLFlBQUE7QUFHSTtFQUNJLG1CQUFBO0FDaEJSOztBRG9CQSxTQUFBO0FBRUE7RUFDSSxhQUFBO0FDbEJKO0FEbUJJO0VBQ0ksY0FBQTtBQ2pCUjs7QURxQkE7RUFDSSxrQkFBQTtBQ2xCSjs7QURxQkE7RUFDSSxhQUFBO0FDbEJKO0FEbUJJO0VBQ0ksa0JBQUE7QUNqQlIiLCJmaWxlIjoic3R5bGUuY3NzIn0= */