@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #1e272e;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-image: url("/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: $font-text;
    color: $color-light;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-size: 22px;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 600;
    span {
        text-transform: none;
        font-weight: 400;
        color: lighten($color-dark, 20%);
    }
}

/* Layout */

.wrapper {
    display: flex;
    margin-left: 10px;
}

.sidebar {
    flex: 1 0 0;
}

.posts {
    flex: 2 0 0;
}

.sidebar, .posts {
    background-color: rgba(#EA2027, 0.7);
    box-shadow: 2px 2px 10px 3px #EA2027;
    margin-right: 10px;
    padding: 40px;
    border: 1px solid $color-light;
    border-radius: 5%;
}

/* Logo */

.logo {
    font-family: $font-logo;
    color: #EA2027;
    font-weight: 400;
    font-size: 104px;
    line-height: 1;
    text-align: center;
}

/* Lists */

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    span {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .active {
        font-weight: bold;
        color: #12CBC4;
    }

    a:hover {
        padding: 15px;
    }
}

.list-horizontal {
    li {
        display: inline-block;
    }
}

.tags {
    a {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        color: blue;
    }
}

/* Authors */

.authors {
    li {
        margin-bottom: 12px;
        a {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;
            color: blue;
        }
        a:hover {
            padding: 15px;
        }
    }
}

/* Post */

.post {
    display: none;
    &.active {
        display: block;
    }
}

.post-author {
    font-style: italic;
    .active {
        font-weight: bold;
        color: #12CBC4;
    }
}

.post-tags {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    p {
        margin: 0 10px 0 0;
    }
    a {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        color: blue;
    }
}

/* Media */

@media (max-width: 767px){
    .wrapper {
        flex-direction: column;
        text-align: center;
        .sidebar, .post {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}
